.link-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: bolder;
  text-transform: lowercase;
  letter-spacing: 2px;
  background-color: var(--accent-color);
  color: black;
  border-radius: 10%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease;
  text-decoration: none;
  animation: fadeInUp 1s ease-in-out;
  min-width: 200px;
  margin: 5px;
  border: solid 1px grey;
}

.link-button:hover {
  background: var(--button-hover-bg);
  color: white;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
}

.link-button i {
  margin-right: 8px;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
  opacity: 0.8;
}

.link-button:hover i {
  transform: scale(1.2);
  opacity: 1;
}

.link-button.tiktok:hover i {
  color: #FF0000;
}